.form__sec {
    padding-top: 59px;
    padding-bottom: 70px;
    background-color: #161616;

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        width: 586px;
        margin: 0 auto;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 102px;
    }
    &-firstbox{
        margin-top: 53px;
        margin-bottom: 67px;
    }
}
.form-last{
    margin-top: 67px;
    margin-bottom: 76px;
}