.intro {
    padding-bottom: 54px;
    &_wrapper {
        display: flex;
        align-items: center;
    }

    &__list {
        &--item:not(last-child) {
            margin-bottom: 12px;
        }

        &--link {
            opacity: 0.6;
        }
    }

    &__minibox {
        display: flex;
        margin-left: 90px;
    }

    &_minitext {
        width: 167px;
        margin-top: 28px;
    }

    &__text {
        width: 545px;
        text-align: center;
        margin-left: 1035px;
        margin-top: 20px;
    }

    &_project {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 100.52%;
        color: rgba(0, 0, 0, 0.6);
        
        &::after {
            content: "";
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 2px solid rgba(237, 17, 29, 0.7);
            box-sizing: border-box;
            border-radius: 50%;
            margin-left: -29px;
        }
    }
}

.third {
    margin-left: 570px;
}

.text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
    
}
.linkbox{
    margin-top: 198px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message_btn{
    position: fixed;
    top: 87%;
    right: 45px;
    background-color: transparent;
    border: none;
}