.section-second {
    margin-bottom: 69px;

    &_list {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
    }

    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        border: 2px solid rgba(193, 193, 193, 0.3);
        box-sizing: border-box;
        width: 415px;
        height: 206px;
        margin-right: 20px;

        &:nth-child(4) {
            margin-right: 0;
        }
    }

    &_number {
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        line-height: 140%;
        text-align: center;
        color: #000000;
    }

    &_text {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 100.52%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    &_info {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        width: 1093px;
        margin: 0 auto;
        margin-bottom: 79px;
    }


    &_menu {
        &--item {
            padding-top: 45px;
            padding-left: 20px;
            width: 560px;
            height: 290px;
            margin-right: 20px;
            background: #FFFFFF;
            border: 2px solid rgba(202, 202, 202, 0.3);
            box-sizing: border-box;

            &:last-child {
                margin-right: 0;
            }
        }

        display: flex;

        &--text {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            color: #000000;
            width: 418px;
        }
    }
}

.bold {
    font-weight: bold;
}

.lamp {
    display: flex;

    &::before {
        content: "";
        width: 34px;
        height: 46px;
        display: inline-block;

        background-image: url('../images/lamp.svg');
        background-repeat: no-repeat;
        background-size: 34px 46px;
        margin-right: 31px;
    }
}
.note {
    display: flex;

    &::before {
        content: "";
        width: 62px;
        height: 62px;
        display: inline-block;

        background-image: url('../images/note.svg');
        background-repeat: no-repeat;
        background-size: 62px 62px;
        margin-right: 18px;
    }
}
.analise{
    width: 428px;
}
.ball {
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        width: 62px;
        height: 62px;
        display: inline-block;

        background-image: url('../images/ball.svg');
        background-repeat: no-repeat;
        background-size: 62px 62px;
        margin-right: 20px;
    }
}