.services {
    z-index: -1;
    padding-top: 191px;
    padding-bottom: 163px;
    background-color: #161616;

    &__link {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 100.52%;
        color: #FF6B6B;
        display: flex;
        align-items: center;
        margin-bottom: 42px;

        &::before {
            content: "";
            width: 50px;
            height: 25px;
            display: inline-block;

            background-image: url('../images/vector.svg');
            background-repeat: no-repeat;
            background-size: 50px 25px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 142px;
        &--item:nth-child(2){
            opacity: 0.3;
        }
        &--item:nth-child(3){
            opacity: 0.3;
        }
    }

    &_btn {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_line {
        border: 2px solid #FF0000;
        width: 486px;
        background-color: #FF0000;
        margin-top: 16px;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 151.02%;
        color: rgba(255, 255, 255, 0.7);
        width: 560px;
        margin-left: 62px;
        margin-top: 20px;
    }

    &__wrapper {
        margin-bottom: 186px;
        display: flex;
        flex-wrap: wrap;
    }

    &_mini-box {
        margin-right: 149px;
        margin-bottom: 49px;
    }

    &_mini-box:nth-child(2n) {
        margin-right: 0;
    }

    &_company {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 173.52%;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 1009px;
        // margin-top: 249px;
    }

    &__span {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 22px;
        margin-left: 62px;
    }

    &__linkmore {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-left: 350px;
    }

    &_big-box {
        position: relative;
        height: 1200px;
        display: flex;
        align-items: center;
        background-image: url('../images/people.png'), url('../images/eye.svg'), url('../images/vector-right.svg'), url('../images/round.svg');
        background-repeat: no-repeat;
        background-size: 1268px 851px, 393px 260px, 78px 25px, 50px 50px;
        background-position: right, top 4% right, bottom 21% right 56px, bottom 235px right 38px;
    }

    &_author {
        position: absolute;
        right: 105px;
        margin-top: -155px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.3);
    }
}

.fieldset {
    background: #161616;
    border: 1px solid rgba(165, 165, 165, 0.2);
    box-sizing: border-box;
    width: 770px;
    height: 350px;
}

.legend {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 100.52%;
    color: #FFFFFF;
    padding: 0 19px 0 11px;
    margin-left: 69px;

    &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 14px;
        margin-left: 11px;
    }
}

.lending-text {
    margin-bottom: 50px;
}

.second-text {
    width: 438px;
    margin-bottom: 115px;
}

.third-text {
    margin-bottom: 35px;
}

.fourth-text {
    margin-bottom: 82px;
}

.fifth-text {
    margin-bottom: 35px;
}

.sixth-text {
    margin-bottom: 52px;
}

.red {
    color: #FF0000;
}

.about-collegue {
    display: flex;
    align-items: center;
}

.first-member {
    margin-right: 88px;
}

.second-member {
    margin-right: 88px;
}

.third-member {
    margin-right: 90px;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 41px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 13px;
}

.job {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 41px;
    color: #FFFFFF;
}
.right_vector{
    transform: rotate(180deg);
    margin-right: 20px;
}